body {
	background-color: #283044;
	overflow: hidden;
}

.container {
    margin: 30px;
    padding: 1px;


}

.col-xl-7 {
	border-color: #EBF5EE;
}

.container1 {
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.btn-primary {
    background-color: #76a7e2;
    border-color: #76a7e2;
}

.btn-primary:hover {
  background-color: #54759D;
  border-color: #54759D;
}


input[type="number"] {
            width: 300%; 
            max-width: 650px;
